* {
    margin: 0;
    font-family: Arial;
    border: border-box;
  }
  .navbar{
    height: 60px;
    background-color: #0f1111;
    color : white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  
  
  .border {
    border: 2px solid transparent;
  }
   
  .border:hover{
    border: 2px solid white;
  }
  
  .nav-address{
    margin-left: 1100px;
    margin-right: 15px;
  }
  
  .add-first {
    color: #cccccc;
    font-size: 0.85rem;
  }
  .nav-signin a{
    text-decoration: none;
    color: white;
  }
  .back a{
    text-decoration: none;
    color: white;
  }
  
  .add-sec{
    font-size: 1rem;
    margin-left: 3px;
  
  }
  
  .add-icon {
    display: flex;
    align-items: center ;
  }
  
  
   .nav-signin p{
    margin-right: 15px;
   }
  span{

    font-size: 0.7rem;
  }
  .nav-second{
    font-size: 0.85rem;
    font-weight: 700;
  }
  .nav-cart i{
    font-size: 30px;
  }
  .nav-cart{
    margin-left: 15px;
    font-size: 0.85rem;
    font-weight: 700;
  }
  .panel{
  
    height: 40px;
    background-color: #222f3d;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
  }
  .panel-ops p{
    display: inline;
    margin-left: 15px;
  }
  .panel-all a{
    color: white;
    text-decoration: none ;
  }
  .panle-ops{
    width: 70%;
    font-size: 0.85rem;
  
  }
  .panel-ops a{
    text-decoration: none;
    color: white;
  }
  .panel-deals{
    font-size: 0.9rem;
    font-weight: 700;
  }
  
  .shop-section{
    display: flex;
    justify-content: space-evenly;
    background-color: #e2e7e6;
    border-radius: 10px;
  }
  
  .box{
    /* border: 2px solid black; */
    height: 400px;
    width: 23%;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 10px;
  }
  .box-img{
    height: 300px;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 10px;
  }
  .box-img img{
     width: auto;
     height: auto;
     max-width: 100%;
     max-height: 100%;
     margin: auto;
     display: block;
     object-fit: cover;
  
  }
  .box-content{
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .box-content p{
    color: #007185;
    text-decoration: none;
  }
  .box-content a{
    text-decoration: none;
  }
  
  
  
  .sign_in{
    text-align: center;
    font-size: 13px;
  }
  .sign_in button{
    background-color: #ffbf00;
      width: 220px;
      border-radius: 5px;
      height: 25px;
      margin-top: 2px;
      border: none;
      color: black;
      font-size: 18px;
  }
  .sign_in a{
    color: #007185;
  }
  .back{
    background-color: #222f3d;
    color: white;
    text-align: center;
    height: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 10px;
    display: block;
  }
  
  .box-content p{
    color: black;
}
.box-content button{
    text-align: center;
    margin-top: 10px;
    background-color: yellow;
    color: black;
    border-radius: 5px;
    height: 20px;
    margin-left: 50px;
    width: 70%;
}