
body {
    background-image: url('background.jpeg');
    background-size: cover;
    background-position: center;
  }
  
label{
    color: white;
}
body{
    font-family: 'roboto';
}
.sign-up{
    width: 360px;
    height: 620px;
    margin: auto;
    border-radius: 3px;
}
.login{
    width: 360px;
    height: 620px;
    margin: auto;
    border-radius: 3px;

}
.back a{
    text-decoration: none;
    color: white;
  }
h1{
    text-align: center;
    padding-top:15px ;

}
form{
    width: 300px;
    margin-left: 20px ;

}
form label{
    display: flex;
    margin-top: 20px;
    font-size: 18px;
}
form input{
    width: 100%;
    padding: 7px;
    border: none;
    border: 1px solid gray;
    border-radius: 6px;
    outline: none;
}
input[ type="button" ]{
    width:320px;
    height: 35px;
    margin-top: 20px;
    border: none;
    background-color: #49c1a2;
    color: white;
    font-size: 18px;
}
.para{
    text-align: center;
    color: black;
    font-size: 15px;
    margin-top: none;
}
.para a{
    color: #49c1a2;
}
button{
    background-color: #49c1a2;
    width: 320px;
    height: 35px;
    margin-top: 20px;
    border: none;
    color: white;
    font-size: 18px;
}
.login p{
    color:white;
    font-size: 25px;
 }